In [9]:
import pandas as pd
import numpy as np

In [10]:
source_data = pd.read_csv("./MR_report.csv")

In [11]:
source_data.shape

(1017, 14)

## I61 出血型中風
## I63 缺血型中風

In [4]:
source_data = source_data.drop(columns=['report_html', 'report_image', 'uploaded', 'history', 'finish_date', 'finish_time', 'upload_text', 'his2wkl_assign', 'PROC_FLAG', 'assign', 'CHECK1', 'VER1'])

In [5]:
source_data

,report_uid,report_text
0,2019.1220.0002018266.380000004773.20200708.124...,衛生福利部臺北醫院放射診斷科 MR報告\r\n病歷號碼 : 0002018266 ...
1,2019.1220.0001542547.380000004799.20200710.094...,衛生福利部臺北醫院放射診斷科 MR報告\r\n病歷號碼 : 0001542547 ...
2,2019.1220.0000851482.380000004771.20200709.112...,衛生福利部臺北醫院放射診斷科 MR報告\r\n病歷號碼 : 0000851482 ...
3,2019.1220.0000822297.380000004795.20200709.081...,衛生福利部臺北醫院放射診斷科 MR報告\r\n病歷號碼 : 0000822297 ...
4,2019.1220.0000486976.380000004794.20200708.114...,衛生福利部臺北醫院放射診斷科 MR報告\r\n病歷號碼 : 0000486976 ...
...,...,...
1012,2019.1220.0001452883.380000006187.20201002.110...,衛生福利部臺北醫院放射診斷科 MR報告\r\n病歷號碼 : 0001452883 ...
1013,2019.1220.0000897637.380000006173.20201002.134...,衛生福利部臺北醫院放射診斷科 MR報告\r\n病歷號碼 : 0000897637 ...
1014,2019.1220.0000020158.380000006099.20200928.125...,衛生福利部臺北醫院放射診斷科 MR報告\r\n病歷號碼 : 0000020158 ...
1015,2019.1220.0000684281.380000006139.20200930.151...,衛生福利部臺北醫院放射診斷科 MR報告\r\n病歷號碼 : 0000684281 ...
1016,2019.1220.0000577315.380000005923.20200930.081...,衛生福利部臺北醫院放射診斷科 MR報告\r\n病歷號碼 : 0000577315 ...

In [6]:
source_data['report_uid'] = source_data['report_uid'].str[21:33]

In [7]:
source_data['ICD'] = ""
source_data

        report_uid                                        report_text ICD
0     380000004773  衛生福利部臺北醫院放射診斷科  MR報告\r\n病歷號碼 : 0002018266     ...
1     380000004799  衛生福利部臺北醫院放射診斷科  MR報告\r\n病歷號碼 : 0001542547     ...
2     380000004771  衛生福利部臺北醫院放射診斷科  MR報告\r\n病歷號碼 : 0000851482     ...
3     380000004795  衛生福利部臺北醫院放射診斷科  MR報告\r\n病歷號碼 : 0000822297     ...
4     380000004794  衛生福利部臺北醫院放射診斷科  MR報告\r\n病歷號碼 : 0000486976     ...
...            ...                                                ...  ..
1012  380000006187  衛生福利部臺北醫院放射診斷科  MR報告\r\n病歷號碼 : 0001452883     ...
1013  380000006173  衛生福利部臺北醫院放射診斷科  MR報告\r\n病歷號碼 : 0000897637     ...
1014  380000006099  衛生福利部臺北醫院放射診斷科  MR報告\r\n病歷號碼 : 0000020158     ...
1015  380000006139  衛生福利部臺北醫院放射診斷科  MR報告\r\n病歷號碼 : 0000684281     ...
1016  380000005923  衛生福利部臺北醫院放射診斷科  MR報告\r\n病歷號碼 : 0000577315     ...

[1017 rows x 3 columns]

In [70]:
containI61 = source_data[source_data["report_text"].str.contains('I61')]
print(containI61['report_text'].str[29:39])

143    0000584571
183    0000686628
520    0002011879
565    0002012953
640    0001688266
934    0002024689
Name: report_text, dtype: object

In [61]:
source_data = source_data.drop(columns=['report_text'])

In [72]:
source_data[source_data['ICD'] == 'I63']

Empty DataFrame
Columns: [report_uid, report_text, ICD]
Index: []

In [90]:
dataI60 = source_data[['I60' in x for x in source_data['report_text']]]
dataI60['ICD'] = 'I60'
dataI60 = dataI60.drop(columns=['report_text'])
dataI60

Empty DataFrame
Columns: [report_uid, ICD]
Index: []

In [92]:
dataI61 = source_data[['I61' in x for x in source_data['report_text']]]
dataI61['ICD'] = 'I61'
dataI61 = dataI61.drop(columns=['report_text'])
dataI61

       report_uid  ICD
143  380000004358  I61
183  380000002302  I61
520  380000003403  I61
565  380000003529  I61
640  380000003724  I61
934  380000005736  I61

In [103]:
for x in source_data :
    print(x)

report_uid
report_text
ICD

In [129]:
source_data[source_data['ICD'] == 'I61']

        report_uid                                        report_text  ICD
1     380000004799  衛生福利部臺北醫院放射診斷科  MR報告\r\n病歷號碼 : 0001542547     ...  I61
2     380000004771  衛生福利部臺北醫院放射診斷科  MR報告\r\n病歷號碼 : 0000851482     ...  I61
3     380000004795  衛生福利部臺北醫院放射診斷科  MR報告\r\n病歷號碼 : 0000822297     ...  I61
4     380000004794  衛生福利部臺北醫院放射診斷科  MR報告\r\n病歷號碼 : 0000486976     ...  I61
5     380000004772  衛生福利部臺北醫院放射診斷科  MR報告\r\n病歷號碼 : 0000614143     ...  I61
...            ...                                                ...  ...
1012  380000006187  衛生福利部臺北醫院放射診斷科  MR報告\r\n病歷號碼 : 0001452883     ...  I61
1013  380000006173  衛生福利部臺北醫院放射診斷科  MR報告\r\n病歷號碼 : 0000897637     ...  I61
1014  380000006099  衛生福利部臺北醫院放射診斷科  MR報告\r\n病歷號碼 : 0000020158     ...  I61
1015  380000006139  衛生福利部臺北醫院放射診斷科  MR報告\r\n病歷號碼 : 0000684281     ...  I61
1016  380000005923  衛生福利部臺北醫院放射診斷科  MR報告\r\n病歷號碼 : 0000577315     ...  I61

[1016 rows x 3 columns]

In [142]:
for index, row in source_data.iterrows():
    if 'I61' in row['report_text']:
        print(index)
        source_data["ICD"][index] = 'I61'
    elif 'I62' in row['report_text']:
        print(index)
        source_data["ICD"][index] = 'I62'
    elif 'I63' in row['report_text']:
        print(index)
        source_data["ICD"][index] = 'I63'
    elif 'I64' in row['report_text']:
        print(index)
        source_data["ICD"][index] = 'I64'
    elif 'I65' in row['report_text']:
        print(index)
        source_data["ICD"][index] = 'I65'
    elif 'I66' in row['report_text']:
        print(index)
        source_data["ICD"][index] = 'I66'
    elif 'I67' in row['report_text']:
        print(index)
        source_data["ICD"][index] = 'I67'
    elif 'I68' in row['report_text']:
        print(index)
        source_data["ICD"][index] = 'I68'
    elif 'I69' in row['report_text']:
        print(index)
        source_data["ICD"][index] = 'I69'
    elif 'S06' in row['report_text']:
        print(index)
        source_data["ICD"][index] = 'S06'
    else:
        source_data["ICD"][index] = 'other'

1
4
6
21
22
24
25
27
29
30
32
41
55
57
58
60
61
63
72
73
75
76
82
88
90
99
100
105
109
110
111
116
117
126
129
130
136
139
142
143
149
150
151
152
153
156
157
169
170
175
178
183
187
189
191
192
201
202
206
207
210
213
219
221
224
225
229
230
235
237
238
239
240
243
247
248
249
251
252
253
256
262
266
267
269
280
281
283
285
286
289
291
292
293
294
297
299
303
306
307
310
322
326
327
331
332
335
337
339
341
342
343
344
351
353
354
355
356
363
365
379
398
405
407
416
417
418
433
434
437
444
448
449
452
453
455
459
460
465
466
467
473
476
477
478
482
487
495
496
498
500
502
506
510
511
518
519
520
524
525
526
540
543
559
560
562
564
565
567
576
582
598
599
607
613
617
621
622
631
633
634
637
640
641
642
643
646
647
655
656
658
661
667
682
688
689
692
697
704
705
709
713
714
716
717
718
721
722
728
735
738
739
747
749
754
757
762
763
769
773
775
777
779
811
813
814
817
818
820
825
828
830
835
837
838
841
845
846
853
854
856
868
881
882
884
887
889
890
892
893
894
896
897
900
901
909
910
914
920
930
934
936
940
941
943
947
948
949
971
975
977
979
983
994
995
997
1004
1008
1012

In [145]:
source_data = source_data.drop(columns=['report_text'])

In [148]:
source_data.to_csv('./output_MR.csv', index=False)